:root{
    --text-color:#505050;
    --heading-color:#212121;
    --primary-color:#3fd0d4;
    --white-color:#fff;
    --primary-sidebar-color:#ef2853;
}

*{
    box-sizing: inherit;
}

html{
    scroll-behavior:smooth;
    font-size: 62.5%;
    font-family: Poppins,sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}

::selection{
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* animation */

@keyframes growDown{
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes growDownAndOpacity{
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes opacityF{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes widthGrowth {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

/* category */

/*shortcut*/

